doctype html
html
    head
        title= title + ' - Nada-Print Database'
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
        script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/jQuery.dotdotdot/1.6.10/jquery.dotdotdot.min.js')
        link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css', rel='stylesheet')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        div.container
            h1
                a(href='/') Hakatashi's Nada-Print Database Host
            p
                | 博多市が6年間で収集した灘校の授業の配布プリントの、OCR後のテキストを検索することができます。
                | OCR前のプリントの画像が欲しい場合は、IDを控えて博多市に直接申し付けてください。
                | なお内容はチェックしてないので灘校のプリント以外のデータが混じってる可能性は多分にあります。
                small
                    del 明らかにアレがアレな内容が見つかっても気にしないでください。<strong>絶対に気にしないでください。</strong>
            form#search
                div.form-group
                    label(for='input-query') Query
                    input.form-control#search-query(type='text', placeholder='地震 OR 断層', value=query)
                    p.help-block
                        | Syntax Reference:
                        = ' '
                        a(target='_blank', href='http://www.elasticsearch.org/guide/en/elasticsearch/reference/current/query-dsl-query-string-query.html#query-string-syntax') elasticsearch
                button.btn.btn-primary.btn-lg.btn-submit#search-submit(type='submit') Search
            script
                include index.js
            block content
                script.
                    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
                    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
                    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
                    e.src='//www.google-analytics.com/analytics.js';
                    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
                    ga('create','UA-43802516-1','auto');ga('send','pageview');
